h1{
    color: lightcoral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{ 
    color: lightcoral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    color: lightcoral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4{
    color: lightcoral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    font-family: cursive;
     color: darkmagenta;
}

a{
    color: deeppink;
}

.redes {
    color: maroon;
    background-color: mediumaquamarine;
    padding: 10px 30px 10px 30px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
}
img{ 
    margin: 50px;
}
body{
    background-color: lightgray;
    margin: 40px;
}